template(name="about")
	+header
	.top
	.pane.topHeight
		.description.text-center
			h1(style="color: {{color}};") This is kikbak.tv
			p We take the hassle out of finding new music videos on the web.
	
	.middle
		h1.text-center How it Works
		.features
			.feature.card
				.icon(style="background-color: {{color}};")
					|1
				.description
					h2.text-center Smart Rankings
					p kikbak.tv ranks recent Music Videos by combining the Facebook shares, Tweets, blog posts, and average plays of the video.
			.feature.card
				.icon(style="background-color: {{color}};")
					article.clock
						.hours-container
							.hours
						.minutes-container
							.minutes
				.description
					h2.text-center Hourly Results
					p Our servers are constantly combing the internet for new music videos and share counts. This changes the top 100 hourly. 
			.feature.card
				.icon(style="background-color: {{color}};")
					.left-eye.eye
					.right-eye.eye
					.mouth
				.description
					h2.text-center Relax
					p kikbak.tv takes out all the pain of finding new music. Just sit back, watch, and discover!

	.creators
		h1.text-center(style="color: {{color}};") Meet the Creators
		.creator.card.creatorLeft
			.description
				.picLeft.pic
				h2.text-center(style="color: {{color}};") Andrew Lisowski
				a.text-center(href="mailto:lisowski54@gmail.com") email
				h3 Bio
				p Andrew is a Computer Science senior at California Polytechnic University at San Luis Obispo with a passion for music tech.
					|He has always been interested in music, playing piano in his youth, attending countless concerts and constantly seeking out new and interesting music.
					|Through his work, ge aims to combine classic musical experiences with modern tech.
				p Andrew is returning to Intuit this summer to be an intern at mint.com doing front-end development over the summer.
				h3 Previous Work
				ul 
					li
						a(href='hipstersmoothie.com') hipstersmoothie.com
					li
						a(href="sctunes.meteor.com") scTunes (animated)
					li
						a(href="sctunesFast.meteor.com") scTunes (fast)
					li
						a(href="http://kikbak.meteor.com/") kikbak.tv (same name different product)
		.creator.card.creatorRight
			.description
				.picRight.pic
				h2.text-center(style="color: {{color}};") Emmett Harper
				a.text-center(href="mailto:emmettharper@gmail.com") email
				h3 Bio
				p Emmett is a graduating computer engineer at Cal Poly with an exceptionally rojo beard on his face. He loves desgin and web work, and is currently working on an android app. Always interested in inqueries for cool ventures!
				h3 Previous Work
				ul 
					li
						a(href='anastocio.com') anastocio.com
	.pane.bottom
		.description.text-center
			h1 Start Exploring!
			button.goBack(style="background-color: {{color}};") Back to kikbak.tv
