/* CSS declarations go here */
@reallyTall:   ~"only screen and (min-height: 716px)";
@tall:   ~"only screen and (min-height: 501px) and (max-height: 715px)";
@medium:    ~"only screen and (min-height: 321px) and (max-height: 500px)";
// @short:    ~"only screen and (min-width: 720px) and (max-width: 959px)";406EAA
@GREENHEX: #31C663;
@GREENRGB: rgba(49,198,99,0.5);
@GREENTAG: url('/images/rankBackground.png');
@BLUEHEX: #406EAA;
@BLUERGB: rgba(64,110,170,0.5);
@BLUETAG: url('/images/rankBackgroundBlue.png');
@YELLOWHEX: #F7DD72;
@YELLOWRGB: rgba(247,221,114,0.5);
@YELLOWTAG: url('/images/rankBackgroundYellow.png');
@REDHEX: #D6373A;
@REDRGB: rgba(214,55,58,0.5);
@REDTAG: url('/images/rankBackgroundRed.png');
@HexColor: @BLUEHEX;
@RGBColor: @BLUERGB;
@TagColor: @BLUETAG;

html {
	height: 100%;
}

body {
	background: #151515;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	transition: all 0.80s ease-in-out;
	-webkit-transition: all 0.80s ease-in-out;
	-moz-transition: all 0.80s ease-in-out;
	-ms-transition: all 0.80s ease-in-out;
	-o-transition: all 0.80s ease-in-out;
	height: 100%;
}

.blackOverlay{
	background-color: rgba(1,1,1,0.6);
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
}

.topHeight {
	height: 80%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	h1 {
		font-size: 80px;
	}

	.description {
		margin-top: -23px;
		color:white;
		font-size: 20px;
	}
}

.top {
	height: 30em;
	background-color: white;
	padding-top: 50px;
	background-image: url('/images/feed.jpg');
	color: white;
	background-repeat: no-repeat;
	background-size: cover;
	height: 80%;
	background-origin: content-box;
}

.bottom {
	height: 10em;
	width: 100%;
	background-color: #101010;
	color: white;
	
	button {
		width: 150px;
		height: 60px;
		border-radius: 10px;
		border-color: transparent;
	}
}

.card {
	padding: 1em 0 0 1em;
	-moz-border-radius: 4px;
    border-radius: 4px;
	position: relative;
	background: #444444;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.middle {
  background: -webkit-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #7474BF 10%, #348AC7 90%); /* W3C */
  padding-top: 20px;

	h1 {
		color: white;
		font-size: 60px;
		margin: 0;
	}
}

.features {
	height: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
	color: white;

	.feature {
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
		width: 90%;
		padding: 1em;
		margin: 2em 2% 2em;
		float: left;

		.icon {
		    background: #eee;
		    display: block;
		    width: 150px;
		    height: 150px;
		    position: relative;
		    margin: auto;
		    margin-top: 5%;
		    border-radius: 50%;
		    line-height: 150px;
		    text-align: center;
		    font-size: 70px;
		    color: white;
		}

		.description {
			position: relative;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			p {
				padding: 5px 25px;
				font-size: 1.1em;
				text-align: center;
			}
		}

		.clock {
		  border-radius: 50%;
		  background: #fff url(/assets/images/posts/clocks/ios_clock.svg) no-repeat center;
		  height: 92%;
		  position: relative;
		  width: 92%;
		  top: 6px;
		  left: 6px;
		}

		.hours {
   		  background: #000;
		  height: 20%;
		  left: 48.75%;
		  position: absolute;
		  top: 30%;
		  transform-origin: 50% 100%;
		  width: 2.5%;
		  -ms-transform: rotate(135deg); /* IE 9 */
	      -webkit-transform: rotate(135deg); /* Chrome, Safari, Opera */
	      transform: rotate(135deg);
		}
		
		.minutes {
		  background: #000;
		  height: 40%;
		  left: 49%;
		  position: absolute;
		  top: 10%;
		  transform-origin: 50% 100%;
		  width: 2%;
		  -ms-transform: rotate(120deg); /* IE 9 */
	      -webkit-transform: rotate(120deg); /* Chrome, Safari, Opera */
	      transform: rotate(120deg);
		}

		.clock.simple:after {
		  background: #000;
		  border-radius: 50%;
		  content: "";
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  transform: translate(-50%, -50%);
		  width: 5%;
		  height: 5%;
		  z-index: 10;
		}

		.minutes-container, .hours-container, .seconds-container {
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		}

		.left-eye {
			float: left;
			margin-left: 30px;
		}

		.right-eye {
			float: right;
			margin-right: 30px;
		}

		.eye {
		  margin-top: 40px;
		  background-color: black;
		  border-radius: 50%;
		  height: 25px;
		  position: relative;
		  width: 25px;
		  padding-bottom: 33px;
		  margin-bottom: 5px;
		  
		  &:before, &:after {
		    background-color: #fff;
		    border-radius: 50%;
		    content: '';
		    position: absolute;
		  }
		  
		  &:before {
		      height: 5px;
			  top: 5px;
			  right: 15px;
			  width: 5px;
		  }
		  
		  &:after {
		    height: 5px;
		    right: 6px;
		    top: 10px;
		    width: 6px;
		  }
		}

		.mouth {
		  background-color: white;
		  border-radius: 0 0 200px 200px;
		  height: 65px;
		  overflow: hidden;
		  position: relative;
		  text-align: center;
		  width: 80%;
		  margin-left: 14px;
		  
		  animation: smile 1.25s ease-out;
		}
	}
}

@media screen and (max-width: 700px) {
	.features {
		-webkit-box-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		height: auto;
		.feature {
			height: auto;
			-webkit-box-flex-grow: 1;
			-webkit-flex-grow: 1;
			-ms-flex-grow: 1;
			flex-grow: 1;
			-webkit-box-flex: initial;
			-webkit-flex: initial;
			-ms-flex: initial;
			flex: initial;
		}
	}
}

.creators {
	height: auto;
	background: -webkit-linear-gradient(0deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(0deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(0deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(0deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(0deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
	padding-top: 20px;
	overflow: auto;
	color: white;

	h1 {
		font-size: 60px;
	}

	.creator {
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		height: auto;
		width: 44%;
		margin: 3%;
		padding: 1em;
		float: left;

		.pic {
			margin-right: 25px;
			width: 200px;
			height: 200px;
			background-color: yellow;
			border-radius: 50%;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.picLeft {
			float: left;
			background-image: url('/images/myface.jpg');
		}

		.picRight {
			-webkit-box-ordinal-group: 2;
			-webkit-order: 1;
			-ms-flex-order: 1;
			order: 1;
			float: right;
			background-image: url('/images/emmett.jpg');
		}

		.description {
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;
			margin: 30px;
		}
	}
}

@media screen and (max-width: 700px) {
	.creators {
		.creator {
			width: auto;
		}
	}
}

.pane {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.overlayFront{
	z-index: 2;
}

.overlayBack{
	z-index: -1;
}

.appBody{
	background-size: cover;
		display: block;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		height: 200%;
		width: 200%;
		left: -100%;
		position: fixed;
		right: 0;
		z-index: -2;
		top: -100%; 
	transition: background-image 0.30s ease-in-out;
	-webkit-transition: background-image 0.30s ease-in-out;
	-moz-transition: background-image 0.30s ease-in-out;
	-ms-transition: background-image 0.30s ease-in-out;
	-o-transition: background-image 0.30s ease-in-out;
}

.downArrow{
	margin: 2px 0 0 0;
	width: 64px;
	height: 64px;
	opacity: 1;
	position: fixed;
	top: 50px;
	left: 45%;
	// display: none;
	z-index: 1000;
}

.about {
	margin: 40px auto 0px auto;
}
.container{
	width: 100%;
	height: 100%;
	padding-top: 50px;
}

.flex-container {
	height: 100%;
	width: 100%;
	display: -webkit-flex;
		display:flex;
		-webkit-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: flex-start;
		justify-content: flex-start;
		-webkit-align-content: flex-start;
		align-content: flex-start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
}
 
.flex-items-default {
		-webkit-flex-grow: 0;
		flex-grow: 0;
		-webkit-flex-shrink: 1;
		flex-shrink: 1;
		-webkit-flex-basis: 100%;
		flex-basis: 100%;
		width: 139vh;
		// display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;  
		justify-content: center;  		
		-webkit-position: relative;
		position: relative;
}

.featured {
	background-size: initial;
	width: 115vh !important;
	-webkit-flex-basis: 100% !important;
	flex-basis: 100% !important;
}

@media @medium {
	.flex-items-default {
			-webkit-flex-basis: 50%;
			flex-basis: 50%;
			width: 79vh;
	}	
}

@media @tall {
	.flex-items-default {
		-webkit-flex-basis: 33%;
			flex-basis: 33%;
			width: 54vh;
	}	
}

@media @reallyTall {
	.flex-items-default {
		-webkit-flex-basis: 25%;
			flex-basis: 25%;
			width: 41vh;
	}	
}

.descriptionText{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	color: white;
	font-size: 12px;
	padding: 2px;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
}	

.playerContainer{
	transition: translate3d 0.5s ease-out;
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px); 
	margin-left: 20px;
	width: 95%;
	height: 90vh;
	display: none;
	position: fixed;
	right: 3%;
	z-index: 3;

	#player{
		width: 75%;
		height: 100%;
		right: 40px;
		background: black;
		position: absolute;
	}

	.playerSideBar{
		width: 22%;
		height: 100%;
		left: 23%;
		position: absolute;
		color: white;
		padding: 70px 20px 0 20px;
		border-bottom-left-radius: 10px;
		overflow-y: scroll;
		background-color: rgba(0, 0, 0, 0.8);

		::-webkit-scrollbar {
			width: 1px;
		}
		 

		.lm-social-share-btn{
			display: inline-block;
			color: white;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
			transition: background-color 0.30s ease-in-out;
			-webkit-transition: background-color 0.30s ease-in-out;
			-moz-transition: background-color 0.30s ease-in-out;
			-ms-transition: background-color 0.30s ease-in-out;
			-o-transition: background-color 0.30s ease-in-out;
		}

		.lm-social-share-facebook{
			background-color: #3b5998;
			float: left;
			padding: 5px 35px;
			width: 48%
		}

		.lm-social-share-twitter{
			background-color: #4099ff;
			padding: 5px 38px;
			float: right;
			width: 48%
		}

		.lm-social-share-facebook:hover{
			background-color: #304a7f;
		}

		.lm-social-share-twitter:hover{
			background-color: #3A8AE4;
		}

		.sideTitle{
			font-size: 25px;
			font-weight: 900;
				text-align: center;
		}


		.sideDate{
				font-size: 14px;
			margin-top: -12px;
			color: #888888;
				padding: 5px;
				width: 100%;
				text-align: center;
		}

		.sideRank{
			color: @HexColor;
				padding: 5px;
				width: 100%;
				font-size: 14px;
				text-align: center;
				
				.rankDesc{
					margin-bottom: -25px;
					font-size: 20px;
				}

				.number{
					font-size: 72px;
				}
		}

		.stats {
			width: 100%;
			margin: 0;
				text-align: center;
			.sideLikes{
					width: 48%;
					top: 76px;
					font-size: 10px;
					color: white;
					float: left;
					background-color: #304a7f;
					margin: 0;
			}

			.sideDislikes{
				width: 50%; 
				float: left;
				width: 48%;
				float: right;
				font-size: 10px;
				color: white;
				background-color: #3A8AE4;
			}
			p {
				margin: 0;
				padding-bottom: 2px;
			}
		}

		.sideDescription{
			font-size: 14px;
			margin-top: 25px;
			text-align: center;
			display: inline-block;
			white-space: pre-wrap;
			width: 100%;

			p {
				overflow-wrap: break-word;
			}
		}
	}

	.togglePlayer{  
		width: 30px;
		height: 30px;
		position: absolute;
		/* float: right; */
		right: 0px;
		top: 50px;
	}

	.minimizePlayer{  
		width: 30px;
		height: 30px;
		position: absolute;
		/* float: right; */
		right: 0;
		bottom: 0;
	}

	.closePlayer{  
		width: 30px;
		height: 30px;
		position: absolute;
		/* float: right; */
		right: 0;
		top: -35px;
		// display: none;
	}

	.expandPlayer{  
		width: 30px;
		height: 30px;
		position: absolute;
		/* float: right; */
		top: -35px;
		// display: none;
		left: 0;
	}
}



.single:hover .overlay{
	display: inline-block;
}

.single{
	.selected {
		border: 3px @HexColor solid
	}

	.overlay:hover{
		background-color: rgba(255,255,255,0.2); 
	}


	.overlay:hover .like{
		background-color: transparent !important;
	}

	.overlay{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 10px;
		overflow: hidden;
		width: 100%;
		height: 100%;
		z-index: 1;
		text-align: center;
		background-repeat: no-repeat;
		background-size: 75px;
		// background-image: @TagColor;
		display: inline-block;
		transition: background-color 0.25s ease-out;
		-webkit-transition: background-color 0.25s ease-out;
		-moz-transition: background-color 0.25s ease-out;
		-ms-transition: background-color 0.25s ease-out;
		-o-transition: background-color 0.25s ease-out;

		.rank {
			font-size: 30px;
			color: white;
			float: left;
			padding: 10px;

			p {
				margin: -10px -5px 0px;
			}
		}

		.heart-red {
			opacity: 1;
			background-image: url('/images/likeSelected.png');
		}
	}

	.overlay:hover .like{
		 opacity: 1;
	} 
}


#headerLike {
	opacity: 1;
	margin-top: 10px;
}

.keyRow {
	height: 60px;

	.left{
		width: 30%;
		height: 60px;
		float: left;

		.key {
			float: right;
			height: 50px;
			width: 50px;
			background-color: #555;
			border-radius: 7px;
			line-height: 49px;
			text-align: center;
			// margin-left: 35%;
			margin-top: 5px;
		}
	}
	
	.right {
		width: 60%;
		float: right;

		.keyExp {
			line-height: 60px;
			margin: 0;
		}
	}
}

.help {
	color: #406EAA;
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

.like {
	width: 24px;
	height: 24px;
	float: right;
		opacity: 0;
	background-image: url('/images/likeNone.png');
	margin: 5px;
	transition: opacity 0.35s ease-out;
	-webkit-transition: opacity 0.35s ease-out;
	-moz-transition: opacity 0.35s ease-out;
	-ms-transition: opacity 0.35s ease-out;
	-o-transition: opacity 0.35s ease-out;
}

.heart-red {
	opacity: 1;
	background-image: url('/images/likeSelected.png');
}

.face1{ 
	background-color: @HexColor;
}

.anti-modal-box, .anti-modal-header {
	background-color: #222;
	border-radius: 10px;
	color: white;
}

.navbar .nav,
.navbar .nav > li {
	float:none;
	display:inline-block;
	*display:inline; /* ie7 fix */
	*zoom:1; /* hasLayout ie7 trigger */
	vertical-align: top;
}

.navbar-collapse {
	text-align:center;
}

.navBack {
		background-color: #222;
	}

@media screen and (min-width: 767px) {
	.navBack {
		background-color: transparent;
	}
}

.navbar-inverse {
	margin-left: 0;
	position: fixed;
	width: 100%;
	height: 50px;
	z-index: 10000;
	border-radius: 0px;
}

.navbar-header:hover .headerColor{
	opacity: 1;
}

#login-buttons .login-button:hover, .accounts-dialog .login-button:hover {
	background: #2D2D2D;
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: rgba(0,0,0,0);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: @HexColor;
	background-color: rgba(0,0,0,0);
}
.dropdown-menu {
	background-color: rgb(0,0,0);
	border: 0px;
}
.dropdown-menu > li > a {
	color: @HexColor;
}
.navbar-inverse .navbar-nav > li > a {
	color: @HexColor;
}
.navbar-inverse .navbar-brand {
	color: @HexColor;
	font-size: 24px;
}

.headerTitle{
	height: 100%;
	text-align: center;
}

.headerColor{
	width: 35px;
	height: 8px;
	display: inline-block;
	position: absolute;
	bottom: 2px;
	opacity: 0;
	transition: opacity 0.30s ease-in-out;
	-webkit-transition: opacity 0.30s ease-in-out;
	-moz-transition: opacity 0.30s ease-in-out;
	-ms-transition: opacity 0.30s ease-in-out;
	-o-transition: opacity 0.30s ease-in-out;
}

.green{
	left: 11px;
	background-color: @GREENHEX;
}

.red{
	left: 85px;
	background-color: @REDHEX;
}

.yellow{
	left: 122px;
	background-color: @YELLOWHEX;
}

.blue{
	left: 48px;
	background-color: @BLUEHEX;
}

.nextButton,
.prevButton,
.playButton {
	margin: 2px 0 0 0px;
	width: 48px;
	height: 48px;
	display: none;
}

#login-buttons .login-button, .accounts-dialog .login-button {
	color: black;
}

// #login-buttons .login-button:hover, .accounts-dialog .login-button:hover{
// 	background: @HexColor;
// 	border: 1px solid @RGBColor;
// }

.nextButton,
.prevButton,
.playButton {
	display: inline-block;
}


::-webkit-scrollbar {
		width: 5px;
		height: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		background-color: #252525;
		width: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
		-webkit-border-radius: 15px;
		border-radius: 15px;
		// background: @HexColor; 
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
			background-color: rgba(0,0,0,0);
} 

::selection {
	background: rgba(255, 255, 255, .75); /* WebKit/Blink Browsers */
}
::-moz-selection {
	background: rgba(229, 94, 45, .8); /* Gecko Browsers */
}
