/* CSS declarations go here */
body{
	background: #151515;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;

	transition: all 0.80s ease-in-out;
  -webkit-transition: all 0.80s ease-in-out;
  -moz-transition: all 0.80s ease-in-out;
  -ms-transition: all 0.80s ease-in-out;
  -o-transition: all 0.80s ease-in-out;
}

.blackOverlay{
	background-color: rgba(1,1,1,0.6);
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
	z-index: -1;
}

.appBody{
	background-size: cover;
	  display: block;
	  filter: blur(5px);
	  -webkit-filter: blur(5px);
	  height: 200%;
	  width: 200%;
	  left: -100%;
	  position: fixed;
	  right: 0;
	  z-index: -2;
	  top: -100%; 
	transition: background-image 0.30s ease-in-out;
  -webkit-transition: background-image 0.30s ease-in-out;
  -moz-transition: background-image 0.30s ease-in-out;
  -ms-transition: background-image 0.30s ease-in-out;
  -o-transition: background-image 0.30s ease-in-out;
}

.togglePlayer{  
	width: 30px;
  height: 30px;
  position: absolute;
  /* float: right; */
  right: 30%;
  top: 45%;
  display: none;
}

.playerContainer{
	transition: translate3d 0.5s ease-out;
	-webkit-transform: translate3d(0px, 0px, 0px);
	 transform: translate3d(0px, 0px, 0px); 
	margin-left: 20px;
	width: 68%;
	height: 80vh;
	float: left;
	display: none;
}

.tuckedLeft{
	transition: translate3d 0.5s ease-out;
	-webkit-transform: translate3d(-1440px, 0px, 0px);
	 transform: translate3d(-1440px, 0px, 0px); 
	 display: none;
}

#player{
	width: 96%;
	height: 100%;
}

.single{
	opacity: 1;
	width: 320px;
	height: 250px;
	display: inline-block;
	margin: 10px;
    background-repeat: no-repeat;
    background: #252525;
    /*border: 1px white solid;*/
}


.overlay{
	font-size: 10px;
	/*opacity: 0;*/
	width: 100%;
	height: 100%;
	text-align: center;

	background-repeat: no-repeat;
  	background-size: 75px;
  	background-image: url('/images/rankBackground.png');
	display: inline-block;
}

.rank {
	font-size: 30px;
	color: white;
	float: left;
	padding: 10px;
}

.description{
	position: fixed;
	/*color: black;*/
}

.descriptionText{
	color: white;
	font-size: 12px;
	margin: 200px 20px 20px 0;
	padding: 0 20px;
}



.single:hover .overlay{
	display: inline-block;
}

.container{
	overflow: scroll;
	width: 100%;
	height: 80vh;
	display: inline-block;
	float: right;
	margin: 0;
	-webkit-columns: 320px;
    -moz-columns: 320px;
    columns: 320px; /* desired width of column */
     -webkit-column-gap: 0; /* Chrome, Safari, Opera */
    -moz-column-gap: 0; /* Firefox */
    column-gap: 0;
    -webkit-column-rule-style: none; /* Chrome, Safari, Opera */
    -moz-column-rule-style: none; /* Firefox */
    column-rule-style: none;

}

.navbar-inverse {
	margin-left: 0;
}

/*.navbar-inverse {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}*/
.navbar-inverse .navbar-toggle {
  border-color: rgba(0,0,0,0);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #31C663;
  background-color: rgba(0,0,0,0);
}
.dropdown-menu {
	background-color: rgb(0,0,0);
	border: 0px;
}
.dropdown-menu > li > a {
  color: #31C663;
}
.navbar-inverse .navbar-nav > li > a {
  color: #31C663;
}
.navbar-inverse .navbar-brand {
  color: #31C663;
  font-size: 36px;
}

.nextButton,
.prevButton,
.playButton {
  margin: -4px 0 0 0px;
  width: 64px;
  height: 64px;
}

.selected {
	border: 3px #31C663 solid
}





::-webkit-scrollbar {
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #252525;
    width: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #31C663; 
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
      background-color: rgba(0,0,0,0);
} 

::selection {
  background: rgba(229, 94, 45, .8); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(229, 94, 45, .8); /* Gecko Browsers */
}