/* CSS declarations go here */
body{
	background: #151515;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	transition: all 0.80s ease-in-out;
	-webkit-transition: all 0.80s ease-in-out;
	-moz-transition: all 0.80s ease-in-out;
	-ms-transition: all 0.80s ease-in-out;
	-o-transition: all 0.80s ease-in-out;
}

.blackOverlay{
	background-color: rgba(1,1,1,0.6);
	display: block;
	height: 100vh;
	left: 0;
	position: fixed;
	right: 0;
	top:0;
}

.overlayFront{
	z-index: 2;
}

.overlayBack{
	z-index: -1;
}

.appBody{
	background-size: cover;
  	display: block;
  	filter: blur(5px);
	-webkit-filter: blur(5px);
	height: 200%;
	width: 200%;
	left: -100%;
	position: fixed;
	right: 0;
	z-index: -2;
	top: -100%; 
	transition: background-image 0.30s ease-in-out;
	-webkit-transition: background-image 0.30s ease-in-out;
	-moz-transition: background-image 0.30s ease-in-out;
	-ms-transition: background-image 0.30s ease-in-out;
	-o-transition: background-image 0.30s ease-in-out;
}

.gridPushedRight{
	-webkit-columns: 200px;
	-moz-columns: 200px;
	 columns: 200px;
}

.navbar {
	margin: 0;
	z-index: 5;
}

.togglePlayer{  
	width: 30px;
  height: 30px;
  position: absolute;
  /* float: right; */
  right: 0px;
  top: 50px;
}

.minimizePlayer{  
  width: 30px;
  height: 30px;
  position: absolute;
  /* float: right; */
  right: 0;
  bottom: 0;
}

.closePlayer{  
	width: 30px;
  height: 30px;
  position: absolute;
  /* float: right; */
  right: 0;
  top: -35px;
  display: none;
}

.expandPlayer{  
  width: 30px;
  height: 30px;
  position: absolute;
  /* float: right; */
  top: -35px;
  display: none;
  left: 0;
}

.playerContainer{
	transition: translate3d 0.5s ease-out;
	-webkit-transform: translate3d(0px, 0px, 0px);
	 transform: translate3d(0px, 0px, 0px); 
	margin-left: 20px;
	width: 68%;
	height: 80vh;
	float: left;
	display: none;
	position: fixed;
	right: 20%;
	z-index: 3;
}

.like {
	width: 24px;
	height: 24px;
	float: right;
    opacity: 0;
	background-image: url('/images/likeNone.png');
	margin: 5px;
	transition: opacity 0.35s ease-out;
	-webkit-transition: opacity 0.35s ease-out;
	-moz-transition: opacity 0.35s ease-out;
	-ms-transition: opacity 0.35s ease-out;
	-o-transition: opacity 0.35s ease-out;
}


.heart-red {
	background-image: url('/images/likeSelected.png');
}


.tuckedLeft{
	transition: translate3d 0.5s ease-out;
	-webkit-transform: translate3d(-1440px, 0px, 0px);
	 transform: translate3d(-1440px, 0px, 0px); 
	 display: none;
}

#player{
	width: 96%;
	height: 100%;
}

.single{
	opacity: 1;
	width: 100%;
 	height: 100%;
	display: inline-block;
    background-repeat: no-repeat;
    background: #252525;
    /*border: 1px white solid;*/
}

.gridMaxedOut{
	-webkit-columns: 25;
	-moz-columns: 25;
	 columns: 25;
	-webkit-column-width: 35vh;
	-moz-column-width: 35vh;
	 /*width: 35vh;*/
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	 gap: 0;
}

@media screen and ( max-width: 530px ){
	.gridMaxedOut{
		-webkit-column-width:  220px;
		-moz-column-width:  220px;
		 column-width:  220px;
	}
}

@media screen and ( max-height: 405px ){
	.gridMaxedOut{
		-webkit-column-width:  70vh;
		-moz-column-width:  70vh;
		 column-width:  70vh;
	}
}

@media screen and ( max-height: 300px ){
	.gridMaxedOut{
		-webkit-column-width:  100vh;
		-moz-column-width:  100vh;
		 column-width:  100vh;
	}
}

@media screen and ( min-height: 300px ){
    .single{
	 	height: 50%;
	}
}

@media screen and ( min-height: 405px ){
    .single{
	 	height: 33%;
	}
}

@media screen and ( min-height: 605px ){
    .single{
	 	height: 25%;
	 	width: 100%;
	}
}

.overlay{
	font-size: 10px;
	/*opacity: 0;*/
	width: 100%;
	height: 100%;
	text-align: center;

	background-repeat: no-repeat;
  	background-size: 75px;
  	background-image: url('/images/rankBackground.png');
	display: inline-block;
	transition: background-color 0.25s ease-out;
	-webkit-transition: background-color 0.25s ease-out;
	-moz-transition: background-color 0.25s ease-out;
	-ms-transition: background-color 0.25s ease-out;
	-o-transition: background-color 0.25s ease-out;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-collapse {
  text-align:center;
}

.overlay:hover{
   background-color: rgba(49,198,99,0.5); 
}

.overlay:hover .like{
   opacity: 1;
}

.rank {
	font-size: 30px;
	color: white;
	float: left;
	padding: 10px;
}

.rank p {
	margin: -10px -5px 0px;
}

p {
	margin: 0;
}

.description{
	position: fixed;
	/*color: black;*/
}

.descriptionText{
	overflow: hidden;
	color: white;
	font-size: 12px;
    /*margin: 44% 0px 0 0;*/
  	padding: 10px;
	width: 100%;
	height: 31px;
	background-color: rgba(0,0,0,0.7);
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.single:hover .overlay{
	display: inline-block;
}

.container{
	width: 100%;
	display: inline-block;
	float: right;
	margin: 0;
	height: 100%;
  	padding-top: 50px;
	-webkit-column-gap: 0;
	-moz-column-gap: 0;
	column-gap: 0;
	-webkit-column-rule-style: none;
	-moz-column-rule-style: none;
	column-rule-style: none;

}

.gridMaxedOut {
	height: 100%;
}

.navbar-inverse {
	margin-left: 0;
	position: fixed;
	width: 100%;
	height: 50px;
}

/*.navbar-inverse {
  background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}*/
.navbar-inverse .navbar-toggle {
  border-color: rgba(0,0,0,0);
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  color: #31C663;
  background-color: rgba(0,0,0,0);
}
.dropdown-menu {
	background-color: rgb(0,0,0);
	border: 0px;
}
.dropdown-menu > li > a {
  color: #31C663;
}
.navbar-inverse .navbar-nav > li > a {
  color: #31C663;
}
.navbar-inverse .navbar-brand {
  color: #31C663;
  font-size: 24px;
}

.downArrow{
  margin: 2px 0 0 0;
  width: 64px;
  height: 64px;
  opacity: 1;
  position: fixed;
  top: 50px;
  left: 45%;
  display: none;
  z-index: 1;
}

.nextButton,
.prevButton,
.playButton {
  margin: 2px 0 0 0px;
  width: 48px;
  height: 48px;
}

.selected {
	border: 3px #31C663 solid
}

::-webkit-scrollbar {
    width: 3px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background-color: #252525;
    width: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #31C663; 
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
      background-color: rgba(0,0,0,0);
} 

::selection {
  background: rgba(229, 94, 45, .8); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(229, 94, 45, .8); /* Gecko Browsers */
}

/*@media screen and (max-width:1350px) {
	.gridMaxedOut{
		-webkit-columns: 4;
		-moz-columns: 4;
		 columns: 4;
	}
}

@media screen and (max-width:1075px) {
	.gridMaxedOut{
		-webkit-columns: 3;
		-moz-columns: 3;
		 columns: 3;
	}
}

@media screen and (max-width:825px) {
	.gridMaxedOut{
		-webkit-columns: 2;
		-moz-columns: 2;
		 columns: 2;
	}
}
*/
