html
	body
		div
			h1 #{bucket}
			select.oldkeywords(name="sometext" multiple="multiple" style="width: 40%; margin-left:3%; height:80vh")
				each keyword in keywords
					option "#{keyword[0]}" count: #{keyword[1]}

			button.moveKeywords(style="margin-left:5%") Move >>
			select(name="sometext" multiple="multiple" style="width: 40%; margin-left:5%; height:80vh")
				each aprov in approvedKeywords
					option #{aprov}
	
		script(src='/javascripts/jquery.js', type="text/javascript")
		script(src='/javascripts/bucket.js', type="text/javascript")